*{
    padding:0;
    margin:0;
    box-sizing: border-box
}
body{
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    min-height:100vh;
    /* line-height: 1.8; */
}
.open,
.btn{
    
    width:10%;
    background-color: orchid;
    color: black;
    padding:10px;
    margin:10px;
    border:none;
    border-radius:5px;
    cursor: pointer;
}
.modal-container{
    position: fixed;
    top:0;
    left: 0;
    background-color: gray;
    width:100vw;
    height:100vh;
    opacity:0; 
    transition: all 0.2s ease-in-out;
    display:flex;
    justify-content:center;
    align-items: center;
    pointer-events:none;

}
.modal{
    background-color: white;
    margin:15px;
    padding:15px;
    
    max-width:500px;
    line-height:1.8;

}
.modal h1,
.modal p{
    margin-bottom: 10px;
}
/* dynamic class */
.show{
    opacity:1;
    pointer-events:auto;
}
